/** reset
**/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 "微软雅黑", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
}
iframe {
  border: none;
}
.clearfix {
  *overflow: hidden;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  content: "";
  width: 0;
  clear: both;
}
/**
end reset
**/
body {
  overflow: hidden;
}
.ui-loading:after {
  background: url("../img/loading2.png") center center no-repeat rgba(0, 0, 0, 0.25);
  content: '';
  text-align: center;
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.personal:hover .showBox {
  display: block;
}
.head {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
  height: 25px;
  box-shadow: 0 1px 5px #cccccc;
}
.head ul {
  float: right;
  height: 25px;
}
.head ul li {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  margin-left: 24px;
  line-height: 25px;
  position: relative;
}
.head ul li .tip {
  position: absolute;
  top: -12px;
  left: 208px;
}
.head ul li a {
  color: #3f4044;
  font-size: 12px;
  text-decoration: underline;
}
.head ul li .showBox {
  display: none;
  height: 180px;
}
.head ul li .showBox .personalDisplay {
  position: absolute;
  /*left: -310%;*/
  right: -105px;
  top: 40px;
  width: 336px;
  height: 160px;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 5px #cccccc;
  background-color: #fff;
}
.head ul li .showBox .personalDisplay div {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  width: 98px;
  height: 98px;
  border-radius: 98px;
  overflow: hidden;
}
.head ul li .showBox .personalDisplay div img {
  height: 98px;
}
.head ul li .showBox .personalDisplay ul {
  float: left;
  margin-top: 45px;
}
.head ul li .showBox .personalDisplay ul li {
  display: inherit;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  background-color: #fff;
}
.head ul li .showBox .personalDisplay ul li:first-child {
  font-weight: bold;
}
.head ul li .showBox .personalDisplay ul li:nth-child(2) {
  color: #666666;
}
.head ul li .showBox .personalDisplay ul li:last-child {
  width: 180px;
  margin-top: 15px;
}
.head ul li .showBox .personalDisplay ul li:last-child a {
  display: inline-block;
  float: left;
  width: 78px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #fdfdfd;
  font-size: 13px;
  color: #444444;
  line-height: 30px;
  text-decoration: none;
}
.head ul li:last-child {
  width: 88px;
  background-color: #7d8088;
  text-align: center;
}
.head ul li:last-child a {
  color: #fff;
}
.side {
  width: 95px;
  position: absolute;
  left: 0;
  top: 25px;
  min-height: 500px;
  background: #3f4044;
}
.side .logo {
  height: 68px;
  background: #f25e61 url(../img/logo.png) no-repeat center center;
}
.side .menuBox {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.side .menuBox .prevBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 95px;
  font-weight: bold;
  display: none;
  background: #fff;
  cursor: pointer;
  z-index: 2;
}
.side .menuBox .nextBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95px;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  z-index: 2;
}
.side .menuBox .menu {
  position: absolute;
  left: 0;
  top: 0;
}
.side .menuBox .menu li {
  height: 97px;
  text-align: center;
}
.side .menuBox .menu li a {
  display: block;
  height: 55px;
  width: 55px;
  padding: 20px;
  text-align: center;
  color: #7d8088;
  background: #3f4044;
}
.side .menuBox .menu li a .iconfont {
  font-size: 22px;
}
.side .menuBox .menu li a p {
  margin-top: 10px;
}
.side .menuBox .menu li a:hover {
  color: #f25e61;
  background-color: #373737;
}
.side .menuBox .menu li a:active {
  outline: none;
}
.side .menuBox .menu li a.active {
  color: #f25e61;
  background: #373737;
}
.side .menuBox .menu li i {
  width: 99px;
  height: 24px;
}
.side .menuBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.side .menuBox::-webkit-scrollbar-button {
  background-color: #3f4044;
}
.side .menuBox::-webkit-scrollbar-track {
  background: #3f4044;
}
.side .menuBox::-webkit-scrollbar-track-piece {
  background: #3f4044;
}
.side .menuBox::-webkit-scrollbar-thumb {
  background: #292727;
  border-radius: 4px;
}
.side .menuBox::-webkit-scrollbar-corner {
  background: #3f4044;
}
.side .menuBox::-webkit-scrollbar-resizer {
  background: #3f4044;
}
.side #addSchemeBtn {
  display: block;
  height: 55px;
  padding: 20px;
  text-align: center;
  color: #7d8088;
}
.side #addSchemeBtn .iconfont {
  font-size: 22px;
}
.side #addSchemeBtn p {
  margin-top: 10px;
}
.side #addSchemeBtn.active {
  color: #f25e61;
  background: #373737;
}
.side .componentBtn {
  display: block;
  height: 55px;
  padding: 20px;
  text-align: center;
  color: #7d8088;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55px;
}
.side .componentBtn .iconfont {
  font-size: 22px;
}
.side .componentBtn p {
  margin-top: 10px;
}
.side .componentBtn.active {
  color: #f25e61;
  background: #373737;
}
.side .user {
  width: 95px;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #373737;
}
.side .user a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #aac4da;
  margin: 20px auto;
}
.main {
  margin-left: 95px;
  min-height: 500px;
  margin-top: 25px;
}
.editSchemeName {
  width: 99px;
  height: 24px;
  line-height: 24px;
  text-indent: 25px;
  display: block;
  position: absolute;
  background: url(../img/icon_editSchemeName.png) no-repeat left top;
  text-align: center;
  left: 80px;
  top: 45px;
  cursor: pointer;
  z-index: 1;
}
.hide {
  display: none;
}
.form {
  position: absolute;
  left: 95px;
  top: 0;
  width: 100%;
  background: #f4f4f4;
}
.form .title {
  color: #7d8088;
  font-size: 22px;
  height: 68px;
  line-height: 68px;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
  padding-left: 24px;
}
.form .box {
  margin: 24px;
  background: #fff;
  padding-bottom: 55px;
}
.form .box h1 {
  padding: 25px 18px;
  font-size: 22px;
  color: #282828;
  font-weight: normal;
}
.form .box .fm-row {
  width: 500px;
  margin: 10px auto 53px auto;
}
.form .box .fm-row .fm-lb {
  font-size: 14px;
  color: #333333;
  margin: 10px 0 ;
  display: block;
}
.form .box .fm-row .fm-ipt {
  margin: 10px 0;
}
.form .box .fm-row .fm-ipt input[type=text] {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  line-height: 34px;
  color: #cccccc;
  width: 380px;
  margin-bottom: 10px;
  text-indent: 9px;
  font-size: 14px;
}
.form .box .fm-row .fm-ipt #addModuleBtn {
  background: url(../img/icon_add_module.png) no-repeat 10px center;
  padding: 10px 10px 10px 39px;
  font-weight: normal;
  color: #737989;
  font-size: 14px;
}
.form .box .fm-row .btn {
  height: 50px;
  line-height: 50px;
  background: #f25e61;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  width: 380px;
  cursor: pointer;
}
#add-scheme-popup {
  top: 25px;
}
#edit-scheme-popup {
  left: 0;
}
#edit-scheme-popup .box {
  margin: 0;
}
#edit-scheme-popup .box .fm-row {
  width: 252px;
}
#edit-scheme-popup .box .fm-row input {
  width: 100%;
}
#edit-scheme-popup .box .fm-row .btn {
  width: 100%;
}
