body {
  background: #f4f4f4;
  min-width: 1000px;
  min-height: 700px;
  overflow: auto;
}
.moduleList {
  background: #fff;
  padding: 26px 0 0 24px;
  height: 47px;
}
.moduleList li {
  display: inline-block;
  width: 120px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 14px;
  color: #737989;
  font-weight: bold;
  position: relative;
}
.moduleList li a {
  position: absolute;
  width: 120px;
  height: 44px;
  left: 0;
  top: 4px;
}
.moduleList li a.active {
  background: url(../img/tab_bg.png) no-repeat left top;
  color: #f25e61;
}
.moduleList li .addModuleBtn {
  height: 44px;
  display: inline-block;
  background: url(../img/icon_add_module.png) no-repeat 10px center;
  padding-left: 10px;
  font-weight: normal;
  color: #737989;
}
.componentList {
  border-top: 1px solid #e1e1e1;
}
