* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
* button {
  cursor: pointer;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1474187032_5674539.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1474187032_5674539.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1474187032_5674539.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1474187032_5674539.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1474187032_5674539.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
body {
  background-color: #f4f4f4;
}
.editContainer .titleContainer {
  background-color: #fff;
  padding: 0 17px;
}
.editContainer .titleContainer .componentName {
  display: inline-block;
  height: 74px;
  font-size: 22px;
  line-height: 74px;
}
.editContainer .titleContainer .rightContainer {
  float: right;
  position: relative;
  top: 20px;
}
.editContainer .titleContainer .rightContainer .dateBox {
  position: relative;
  z-index: 2;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background: url(../img/calendar.png) no-repeat 13px center;
  padding: 0 0 0 36px;
  margin-right: 0;
  cursor: pointer;
  border: 1px solid #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.editContainer .titleContainer .rightContainer .dateBox .arrow {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background: url(../img/icon_arrow.png) no-repeat center center;
}
.editContainer .titleContainer .rightContainer .dateBox span {
  float: left;
}
.editContainer .titleContainer .rightContainer .active {
  border: 1px solid #b9bcc4;
  background-color: #fff9f9;
  border-bottom: none;
}
.editContainer .titleContainer .rightContainer .dateHoverBox {
  right: 14px;
  top: 30px;
}
.editContainer .titleContainer .rightContainer a {
  font-family: 'iconfont';
  font-size: 14px;
  color: #636874;
  cursor: pointer;
  position: relative;
  top: -10px;
}
.editContainer .titleContainer .rightContainer a:hover {
  color: #9f9fa1;
}
.editContainer .optionContainer {
  background-color: #fff;
}
.editContainer .optionContainer ul li {
  height: 48px;
  display: inline-block;
  margin-right: 14px;
  line-height: 48px;
  font-size: 14px;
}
.editContainer .optionContainer ul li .select {
  height: 38px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #d5d9dc;
  border-radius: 4px;
  outline: none;
}
.editContainer .optionContainer ul li .addBtn {
  height: 38px;
  width: 80px;
  background-color: #f4f4f4;
  border: 1px solid #d5d9dc;
  border-radius: 4px;
  outline: none;
  font-family: 'iconfont';
  font-size: 12px;
  color: #9f9fa1;
}
.editContainer .optionContainer ul li button:hover {
  color: #757b8b;
}
.editContainer .optionContainer .productList li {
  height: 78px;
  width: 392px;
}
.editContainer .optionContainer .productList li span {
  height: 78px;
  line-height: 78px;
}
.editContainer .optionContainer .productList li img {
  width: 50px;
}
.editContainer .optionContainer .resourceList li {
  width: 194px;
  height: 48px;
}
.editContainer .optionContainer .resourceList li span {
  height: 48px;
  line-height: 48px;
}
.editContainer .optionContainer .resourceList li img {
  width: 26px;
}
.editContainer .optionContainer .selectedList {
  margin-bottom: 60px;
  border-left: 1px solid #d5d9dc;
  border-top: 1px solid #d5d9dc;
}
.editContainer .optionContainer .selectedList li:hover {
  background-color: #fff9f9;
  border-color: #b1b3ba;
  margin-left: -1px;
  margin-top: -1px;
  border-left: 1px solid #b1b3ba;
  border-top: 1px solid #b1b3ba;
}
.editContainer .optionContainer .selectedList li:hover .deleteBtn {
  display: block;
}
.editContainer .optionContainer .selectedList li {
  display: inline-block;
  float: left;
  margin: 0;
  border-right: 1px solid #d5d9dc;
  border-bottom: 1px solid #d5d9dc;
  border-left: none;
  line-height: 78px;
}
.editContainer .optionContainer .selectedList li img {
  margin: 0 15px 0 10px;
  vertical-align: middle;
}
.editContainer .optionContainer .selectedList li span {
  display: inline-block;
  float: left;
  width: auto;
  border: none;
}
.editContainer .optionContainer .selectedList li span p:first-child {
  height: 30px;
  margin-top: 15px;
  line-height: 30px;
  font-size: 16px;
}
.editContainer .optionContainer .selectedList li span p:nth-child(2) {
  font-size: 12px;
  color: #b0b0b0;
  line-height: normal;
}
.editContainer .optionContainer .selectedList li span #resourceName {
  height: 48px;
  line-height: 48px;
  margin: 0px;
}
.editContainer .optionContainer .selectedList li .deleteBtn {
  display: none;
  float: right;
  margin-right: 15px;
  font-family: 'iconfont';
  font-size: 14px;
  color: #636874;
  cursor: pointer;
}
.editContainer .optionContainer .selectedList li .deleteBtn:hover {
  color: #f25e61;
}
.editContainer .optionContainer .styleListContainer p {
  font-size: 14px;
}
.editContainer .optionContainer .styleListContainer .styleList li {
  display: inline-block;
  width: 178px;
  height: 178px;
  margin-top: 15px;
  border: 1px solid #efeeec;
}
.editContainer .optionContainer .styleListContainer .styleList li img {
  width: 178px;
  height: 178px;
}
.editContainer .optionContainer .styleListContainer .styleList li:first-child {
  margin-left: 0;
}
.editContainer .optionContainer .styleListContainer .styleList li:hover {
  border: 1px solid #b1b3ba;
}
.editContainer .optionContainer .styleListContainer .styleList .selectStyle {
  border: 1px solid #b1b3ba;
}
.editContainer .tabContainer {
  padding: 0 23px;
  background-color: #fff;
}
.editContainer .tabContainer ul {
  float: left;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.editContainer .tabContainer ul li {
  display: inline-block;
  height: 28px;
  width: 172px;
  border: 1px solid #e5e5e5;
  border-right: none;
  text-align: center;
  line-height: 28px;
  position: relative;
}
.editContainer .tabContainer ul li span {
  font-size: 12px;
}
.editContainer .tabContainer ul li .deleteBtn {
  float: right;
  margin-right: 15px;
  font-family: 'iconfont';
  font-size: 14px;
  color: #636874;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 10px;
}
.editContainer .tabContainer ul li .deleteBtn:hover {
  color: #f25e61;
}
.editContainer .tabContainer ul li:last-child {
  border-right: 1px solid #e5e5e5;
}
.editContainer .tabContainer ul .tabSelected {
  height: 35px;
  background-color: #eaf6f4;
  border: 1px solid #e5e5e5 !important;
  margin-right: -1px;
  top: -7px;
}
.editContainer .tabContainer ul .tabSelected .phoneName {
  position: relative;
  top: 3px;
}
.editContainer .tabContainer ul .tabSelected .deleteBtn {
  top: 4px;
}
.editContainer .tabContainer .addShowBtnContainer {
  display: inline-block;
  position: relative;
}
.editContainer .tabContainer .addShowBtnContainer .selectProduct_updata {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0px;
  width: 640px;
  padding: 18px 0;
  background-color: #fbfbfb;
  border: 1px solid #e5e5e5;
}
.editContainer .tabContainer .addShowBtnContainer .selectProduct_updata li {
  height: 36px;
  border: none;
  width: auto;
  margin-right: 10px;
  line-height: 39px;
}
.editContainer .tabContainer .addShowBtnContainer .selectProduct_updata li button {
  height: 36px;
  width: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}
.editContainer .tabContainer .addShowBtnContainer .selectProduct_updata li:first-child {
  margin-left: 26px;
  font-size: 14px;
}
.editContainer .tabContainer .addShowBtnContainer .selectProduct_updata li:first-child select {
  height: 36px;
  width: 199px;
}
.editContainer .tabContainer button {
  height: 30px;
  width: 44px;
  border: 1px solid #e5e5e5;
  border-left: none;
  outline: none;
  background-color: #f4f4f4;
  font-family: "iconfont";
  font-size: 12px;
  color: #9f9fa1;
}
.editContainer .tabContainer button:hover {
  color: #757b8b;
}
.editContainer .tabContainer .timeSelect {
  float: right;
  width: 175px;
  height: 28px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.editContainer .tabContainer .timeSelect button {
  width: 87px;
  height: 100%;
  border: none;
  outline: none;
  background: #f4f4f4;
}
.editContainer .tabContainer .timeSelect button:first-child {
  width: 88px;
  border-right: 1px solid #e5e5e5;
}
.editContainer .tabContainer .timeSelect .btnSelected {
  background: none;
  box-shadow: 0 0 10px #f4f4f4 inset;
}
.editContainer .echartsContainer {
  background-color: #fff !important;
}
.editContainer .relateCompanentContainer {
  padding: 15px 0 0;
  height: 54px;
  margin-top: 25px;
  background-color: #fff;
}
.editContainer .relateCompanentContainer span {
  display: inline-block;
  margin: 0 17px;
  font-size: 18px;
  color: #3f4044;
}
.editContainer .relateCompanentContainer .relateCompanentList {
  display: inline-block;
}
.editContainer .relateCompanentContainer .relateCompanentList li {
  display: inline-block;
  width: 206px;
  height: 38px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  color: #3f4044;
  line-height: 38px;
}
.editContainer .relateCompanentContainer .relateCompanentList li:last-child {
  margin-right: 0;
}
.generateBtn {
  height: 104px;
  width: 100%;
  float: left;
  text-align: center;
  line-height: 104px;
}
.generateBtn button {
  height: 50px;
  width: 380px;
  background-color: #f25e61;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 24px;
  color: #fff;
}
