* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .login {
  height: 100%;
  padding: 0 30px;
}
html body .login .head {
  height: 140px;
}
html body .login .head img {
  margin: 45px 0 0 30px;
}
html body .login .center {
  height: 424px;
  min-width: 1100px;
  background-color: #ffffff;
}
html body .login .center div {
  width: 50%;
  float: left;
  text-align: center;
}
html body .login .center div img {
  margin: 50px auto 0;
}
html body .login .center .loginForm {
  float: left;
  margin: 66px 0 0 100px;
}
html body .login .center .loginForm ul p:first-child {
  margin: 30px 0 0 5%;
  font-size: 12px;
  color: #d9d9da;
}
html body .login .center .loginForm ul p:nth-child(2) {
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
}
html body .login .center .loginForm ul li {
  width: 380px;
  height: 60px;
  position: relative;
  line-height: 60px;
}
html body .login .center .loginForm ul li input {
  width: 70%;
  height: 57px;
  float: left;
  padding: 0 25% 0 5%;
  border: none;
  border-bottom: 1px solid #d9d9da;
  outline: none;
  font-size: 18px;
}
html body .login .center .loginForm ul li input:focus {
  border-bottom: 2px solid #3f4044;
}
html body .login .center .loginForm ul li .errorInputBorder {
  border-bottom: 2px solid #f25e61 !important;
}
html body .login .center .loginForm ul li a {
  position: absolute;
  right: 5px;
  font-size: 12px;
  color: #999;
}
html body .login .center .loginForm ul li span {
  position: absolute;
  top: 15px;
  right: 5%;
  display: inline-block;
  height: 30px;
  width: 89px;
  background-color: #3f4044;
  color: #cccccc;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
html body .login .center .loginForm ul li img {
  position: absolute;
  right: 5%;
  height: 57px;
}
html body .login .center .loginForm ul li:last-child {
  border-bottom: none;
  margin-top: 24px;
}
html body .login .center .loginForm ul li:last-child button {
  width: 380px;
  height: 50px;
  background-color: #f25e61;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 5px;
}
html body .login .center .loginForm ul li:last-child .btnState {
  width: 380px;
  height: 50px;
  border-radius: 4px;
  line-height: 50px;
  font-size: 22px;
}
html body .login .center .loginForm ul li:last-child .btnEmptyState {
  background-color: #d9d9da;
  color: #fff;
  text-align: center;
}
html body .login .center .loginForm ul li:last-child .btnWaitState {
  background-color: #f25e61;
  background-image: url(../../../../img/loading.png);
  background-repeat: no-repeat;
  background-position: 120px 13px;
  font-size: 16px;
  color: #fff;
}
html body .login .center .loginForm ul li:last-child .btnErrState {
  background-color: #fff1f1;
  font-size: 16px;
  color: #f25e61;
  text-align: center;
}
html body .login .center .loginForm p:last-child {
  margin-top: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #d9d9da;
}
html body .login .foot ul {
  width: 400px;
  margin: 30px auto 0;
}
html body .login .foot ul li {
  display: inline-block;
  border-right: 1px solid #999999;
  padding: 0 12px;
}
html body .login .foot ul li a {
  color: #999;
  text-decoration: none;
}
html body .login .foot ul li:last-child {
  border-right: none;
}
body {
  background: #1d769b;
}
.login-bd {
  width: 1312px;
  margin: 0 auto;
  background: url(../img/login_bg.jpg) repeat-y center top;
}
.login-bd .head {
  position: static;
  height: 97.5px;
  padding: 42.5px 0 0 0;
  background: none;
  box-shadow: none;
}
.login-bd .wrap {
  background: url(../img/login_bg_w.png) no-repeat center top;
  background-size: auto;
  height: 693px;
  padding-top: 60px;
}
.login-bd .wrap .login-box {
  width: 370px;
  height: 460px;
  margin: 0 auto 0;
  background: #e7f0f4;
  border-radius: 5px;
}
.login-bd .wrap .login-box .loginLogo {
  text-align: center;
}
.login-bd .wrap .login-box .loginLogo img {
  margin-top: 50px;
}
.login-bd .wrap .login-box .loginLogo .fontSty {
  font-size: 20px;
  color: #3d4d65;
}
.login-bd .wrap .login-box ul {
  margin-left: 30px;
}
.login-bd .wrap .login-box ul li {
  position: relative;
  width: 310px;
  height: 40px;
  margin-bottom: 20px;
}
.login-bd .wrap .login-box ul li.login-error-tip {
  height: 24px;
  line-height: 24px;
}
.login-bd .wrap .login-box ul li.login-cap .capt {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
}
.login-bd .wrap .login-box ul li input {
  width: 308px;
  height: 36px;
  float: left;
  border: none;
  border: 1px solid #bbbbbb;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 3px;
  text-indent: 12px;
}
.login-bd .wrap .login-box ul li input[type=text]:focus {
  border: 1px solid #247ba0;
  margin-bottom: 0;
}
.login-bd .wrap .login-box .btn-login {
  width: 310px;
  height: 45px;
  background-color: #a7cad9;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #cadfe8;
  letter-spacing: 5px;
  padding: 0;
}
.login-bd .foot ul {
  width: 400px;
  margin: 30px auto 0;
}
.login-bd .foot ul li {
  display: inline-block;
  border-right: 1px solid #999999;
  padding: 0 12px;
}
.login-bd .foot ul li a {
  color: #999;
  text-decoration: none;
}
.login-bd .foot ul li:last-child {
  border-right: none;
}
