/** reset
**/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td{
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1 "微软雅黑",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

h1 { font-size: 18px;}
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
small { font-size: 12px; }

ul, ol { list-style: none; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

legend { color: #000; }
fieldset, img { border: none; }
button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}
iframe{
    border:none;
}

.clearfix { *overflow: hidden; *zoom: 1; }
.clearfix:after { display: block; content: ""; width: 0; clear: both; }
/**
end reset
**/

body{overflow:hidden;background-color: #cad3df}
.ui-loading:after {
    background: url("../img/loading2.png") center center no-repeat rgba(0, 0, 0, 0.25);
    content: '';
    text-align:center;
    color:#fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.personal:hover .showBox{
    display: block;
}
.head{
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: #f4f4f4;
    height: 25px;
    box-shadow: 0 1px 5px #cccccc;
    ul{
        float: right;
        height: 25px;
        div{

        }
        li{
            display: inline-block;
            vertical-align: middle;
            height: 25px;
            margin-left: 24px;
            line-height: 25px;
            position: relative;
            .tip{
                position: absolute;
                top: -12px;
                left: 208px
            }
            a{
                color: #3f4044;
                font-size: 12px;
                text-decoration: underline;
            }
            .showBox{
                display: none;
                height: 180px;
                .personalDisplay{
                    position: absolute;
                    /*left: -310%;*/
                    right:-105px;
                    top: 40px;
                    width: 336px;
                    height: 160px;
                    border: 1px solid #CCCCCC;
                    box-shadow: 1px 1px 5px #cccccc;
                    background-color: #fff;
                    div{
                        float: left;
                        margin-top: 30px;
                        margin-left: 20px;
                        width: 98px;
                        height: 98px;
                        -webkit-border-radius: 98px;
                        -moz-border-radius: 98px;
                        border-radius: 98px;
                        overflow: hidden;
                        img{
                            height: 98px;
                        }
                    }
                    ul{
                        float: left;
                        margin-top: 45px;
                        li{
                            display: inherit;
                            height: 20px;
                            font-size: 12px;
                            line-height: 20px;
                            background-color: #fff;
                        }
                        li:first-child{
                            font-weight: bold;
                        }
                        li:nth-child(2){
                            color: #666666;
                        }
                        li:last-child{
                            width: 180px;
                            margin-top: 15px;
                            a{
                                display: inline-block;
                                float: left;
                                width: 78px;
                                height: 30px;
                                margin-right: 10px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                border-radius: 4px;
                                border: 1px solid #cccccc;
                                background-color: #fdfdfd;
                                font-size: 13px;
                                color: #444444;
                                line-height: 30px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        li:last-child{
            width: 88px;
            background-color: #7d8088;
            text-align: center;
            a{
                color: #fff;
            }
        }
    }
}
.side {
    width: 95px;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 2;
    min-height: 500px;
    background:#3f4044;
    .logo{
        height:68px;
        background:#f25e61 url(../img/logo.png) no-repeat center center;
    }
    .custName{
        padding-bottom: 10px;
        background-color: #f25e61;
        color: #fff;
        text-align: center;
        cursor: pointer;
    }
    .menuBox {
        position:relative;
        overflow:auto;
        overflow-x:hidden;
        .prevBtn{
            position:absolute;
            left:0;
            top:0;
            width:95px;
            font-weight:bold;
            display:none;
            background:#fff;
            cursor:pointer;
            z-index:2;
        }
        .nextBtn{
            position:absolute;
            left:0;
            bottom:0;
            width:95px;
            font-weight:bold;
            background:#fff;
            cursor:pointer;
            z-index:2;
        }
        .menu {
            li {
                height: 97px;
                text-align: center;
                a {
                    display: block;
                    height: 55px;
                    width:55px;
                    padding: 20px;
                    text-align: center;
                    color: #7d8088;
                    background: #3f4044;
                    .iconfont {
                        font-size: 22px;
                    }
                    p {
                        margin-top: 10px;
                    }
                }
                a:hover {
                    color: #f25e61;
                    background-color: #373737;
                }
                a:active {
                    outline: none;
                }
                a.active {
                    color: #f25e61;
                    background: #373737;
                }
                i{
                   width:99px;
                    height:24px;
                }
            }
        }
    }
    .menuBox::-webkit-scrollbar {
        width:5px;
        height:5px;
    }
    .menuBox::-webkit-scrollbar-button    {
        background-color:#3f4044;
    }
    .menuBox::-webkit-scrollbar-track     {
        background:#3f4044;
    }
    .menuBox::-webkit-scrollbar-track-piece {
        background:#3f4044;
    }
    .menuBox::-webkit-scrollbar-thumb{
        background:#292727;
        border-radius:4px;
    }
    .menuBox::-webkit-scrollbar-corner {
        background:#3f4044;
    }
    .menuBox::-webkit-scrollbar-resizer  {
        background:#3f4044;
    }
    #addSchemeBtn{
        display:block;
        height:55px;
        padding:20px;
        text-align:center;
        color:#7d8088;
        .iconfont{
            font-size:22px;
        }
        p{
            margin-top:10px;
        }
    }
    #addSchemeBtn.active{
        color: #f25e61;
        background:#373737;
    }
    .componentBtn {
        display: block;
        height:55px;
        padding:20px;
        text-align: center;
        color:#7d8088;
        position:absolute;
        left:0;
        bottom:0;
        width:55px;
        .iconfont{
            font-size:22px;
        }
        p{
            margin-top:10px;
        }
    }
    .componentBtn.active{
        color: #f25e61;
        background:#373737;
    }
    .user{
        width:95px;
        height:80px;
        position:fixed;
        left:0;
        bottom:0;
        background:#373737;
        a {
            display:block;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: #aac4da;
            margin: 20px auto;
        }
    }
}
.main {
    margin-left: 95px;
    min-height: 500px;
    margin-top: 25px;
}
.editSchemeName{
    width: 99px;
    height: 24px;
    line-height: 24px;
    text-indent: 25px;
    display: block;
    position: absolute;
    background: url(../img/icon_editSchemeName.png) no-repeat left top;
    text-align: center;
    left: 80px;
    top: 45px;
    cursor: pointer;
    z-index: 1;
}
.hide{
    display:none;
}
.form{
    position:absolute;
    top:0;
    width:100%;
    background:#f4f4f4;
    .title{
        color:#7d8088;
        font-size:22px;
        height:68px;
        line-height:68px;
        border-bottom:1px solid #e1e1e1;

        background:#fff;
        padding-left:24px;
    }
    .box{
        margin:24px;
        background:#fff;
        padding-bottom:55px;
        h1{
            padding:25px 18px;
            font-size:22px;
            color:#282828;
            font-weight:normal;
        }
        .fm-row{
            width:500px;
            margin:10px auto 53px auto;
            .fm-lb{
                font-size:14px;
                color:#333333;
                margin:10px 0 ;
                display:block;
            }
            .fm-ipt{
                margin:10px 0;
                input[type=text]{
                    border:1px solid #e1e1e1;
                    border-radius:4px;
                    line-height:34px;
                    color:#cccccc;
                    width:380px;
                    margin-bottom:10px;
                    text-indent:9px;
                    font-size:14px;
                }
                input.error{
                    border-color:#ff0000;
                }
                #addModuleBtn{
                    background:url(../img/icon_add_module.png) no-repeat 10px center;
                    padding:10px 10px 10px 39px;
                    font-weight:normal;
                    color:#737989;
                    font-size:14px;
                }
            }
            .btn{
                height:50px;
                line-height:50px;
                background:#f25e61;
                color:#fff;
                font-size:24px;
                text-align:center;
                border: none;
                border-radius: 4px;
                width: 380px;
                cursor:pointer;
            }
        }
        .errorTip{
            text-align:left;
            color:#ff0000;
        }
    }
}
#add-scheme-popup{
  top:25px;
}
#edit-scheme-popup{
    left:0;
    .box{
        margin:0;
        .fm-row{
            width:252px;
            input{
                width:100%;
            }
            .btn{
                width:100%;
            }
        }
    }
}
/* 用户列表 */
.customerListContainer{
    width: 600px;
    margin: 50px auto 0;
    .container{
        padding: 0 10px 10px;
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        .customerTitle{
            height: 39px;
            line-height: 39px;
            font-size: 14px;
            color : #282828;
            font-weight: bold;
        }
        .customerContainer{
            //height: 430px;
            border: 1px solid #cccccc;
            .search{
                height: 32px;
                padding: 10px;
                background-color: #e6e6e6;
                position: relative;
                input{
                    height: 32px;
                    width: 550px;
                    padding-left: 10px;
                    background-color: #fff;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    border-radius: 32px;
                    outline: none;
                    border: none;
                }
                em{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background-color: #CCCCCC;
                    -webkit-border-radius: 18px;
                    -moz-border-radius: 18px;
                    border-radius: 18px;
                    position: absolute;
                    right: 20px;
                    top: 17px;
                    cursor: pointer;
                    text-align: center;
                    line-height: 15px;
                    color: #fff;
                }
            }
            .customerList{
                height: 369px;
                overflow-y: auto;
                .noData {
                    text-align: center;
                    border-bottom: 1px solid #CCCCCC;
                }
                .userName{
                    height: 24px;
                    padding-left: 10px;
                    margin-top: -1px;
                    background-color: #f5f5f5;
                    border-top: 1px solid #cccccc;
                    line-height: 24px;
                    color: #999999;
                }
                .userInfo{
                    height: 35px;
                    color: #333333;
                    cursor: pointer;
                    p{
                        padding: 11px 0;
                        margin-left: 20px;
                        border-bottom: 1px solid #CCCCCC;
                    }
                    span{
                        height: 12px;
                        display: inline-block;
                        text-align: center;
                        border-right: 1px solid #CCCCCC;
                    }
                    span:first-child{
                        width: 127px;
                    }
                    span:nth-child(2){
                        width: 86px;
                    }
                    span:last-child{
                        margin-left: 20px;
                        border-right: none;
                    }
                }
            }
        }
        .pagesContainer{
            text-align: center;
            border:1px solid #CCCCCC;
            border-top: none;
            p{
                display: inline-block;
                line-height: 30px;
                cursor: pointer;
            }
            .left{
                height: 30px;
                width: 30px;
                border-left:1px solid #CCCCCC;
                border-right:1px solid #CCCCCC;
            }
            .right{
                height: 30px;
                width: 30px;
                border-right:1px solid #CCCCCC;
                border-left: none;
            }
            .pages{
                span{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    border-right:1px solid #CCCCCC;
                    line-height: 30px;
                    cursor: pointer;
                }
                .active{
                    background-color: #247ba0;
                    color: #fff;
                }
            }
        }

    }
    .btnContainer{
        width: 600px;
        background-color: #cad3df;
        margin-top: 10px;
        text-align: center;
        button{
            width: 200px;
            height: 37px;
            background-color: #247ba0;
            font-size: 14px;
            color: #fff;
            border: none;
            outline: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }
}
.move{
    transform: translateX(320px)!important;/*left比较耗性能,造成卡顿*/
    transition:transform 0.2s linear;
    -moz-transition:transform 0.2s linear;/* Firefox 4 */
    -webkit-transition: transform 0.2s linear;/* Safari 和 Chrome */
    -o-transition: transform 0.2s linear;/* Opera */
}
.customerListContainerIn{
    display: block;
    position: absolute;
    left: -225px;
    z-index: 1;
    width: 320px;
    height: 100%;
    background-color: #fff;
    transform: translateX(-320px);
    transition:transform 0.2s linear;
    -moz-transition:transform 0.2s linear;/* Firefox 4 */
    -webkit-transition: transform 0.2s linear;/* Safari 和 Chrome */
    -o-transition: transform 0.2s linear;/* Opera */
    .container {
        padding: 0 10px 10px;
        background-color: #fff;
        .customerTitle {
            height: 39px;
            line-height: 39px;
            font-size: 14px;
            color: #282828;
            font-weight: bold;
            .closeList{
                float: right;
                color: #afafb1;
                font-weight: normal;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .customerContainer{
            //height: 430px;
            border: 1px solid #cccccc;
            .search{
                height: 32px;
                padding: 10px;
                background-color: #e6e6e6;
                position: relative;
                input{
                    height: 32px;
                    width: 270px;
                    padding-left: 10px;
                    background-color: #fff;
                    -webkit-border-radius: 32px;
                    -moz-border-radius: 32px;
                    border-radius: 32px;
                    outline: none;
                    border: none;
                }
                em{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background-color: #CCCCCC;
                    -webkit-border-radius: 18px;
                    -moz-border-radius: 18px;
                    border-radius: 18px;
                    position: absolute;
                    right: 20px;
                    top: 17px;
                    cursor: pointer;
                    text-align: center;
                    line-height: 15px;
                    color: #fff;
                }
            }
            .customerList{
                height: 369px;
                overflow-y: auto;
                .noData {
                    text-align: center;
                    border-bottom: 1px solid #CCCCCC;
                }
                .userName{
                    height: 24px;
                    padding-left: 10px;
                    margin-top: -1px;
                    background-color: #f5f5f5;
                    border-top: 1px solid #cccccc;
                    line-height: 24px;
                    color: #999999;
                }
                .userInfo{
                    height: 35px;
                    color: #333333;
                    cursor: pointer;
                    p{
                        padding: 11px 0;
                        margin-left: 20px;
                        border-bottom: 1px solid #CCCCCC;
                    }
                    span{
                        height: 12px;
                        display: inline-block;
                        text-align: center;
                        border-right: 1px solid #CCCCCC;
                    }
                    span:first-child{
                        width: 103px;
                    }
                    span:nth-child(2){
                        width: 65px;
                    }
                    span:last-child{
                        margin-left: 10px;
                        border-right: none;
                    }
                }
            }
        }
        .pagesContainer{
            text-align: center;
            border:1px solid #CCCCCC;
            border-top: none;
            p{
                display: inline-block;
                line-height: 30px;
                cursor: pointer;
            }
            .left{
                height: 30px;
                width: 30px;
                border-left:1px solid #CCCCCC;
                border-right:1px solid #CCCCCC;
            }
            .right{
                height: 30px;
                width: 30px;
                border-right:1px solid #CCCCCC;
                border-left: none;
            }
            .pages{
                span{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    border-right:1px solid #CCCCCC;
                    line-height: 30px;
                    cursor: pointer;
                }
                .active{
                    background-color: #247ba0;
                    color: #fff;
                }
            }
        }
    }
}