
@widthThree:33.33%;
@widthSix:16.6%;

body{
  background:#f4f4f4;
  min-width:1000px;
  min-height:700px;
  overflow:auto;
}
.container{
  position:relative;
  padding-bottom:50px;
}
.moduleList{
  background:#fff;
  padding:26px 200px 0 24px;
  height:47px;
  li{
    display:inline-block;
    min-width:120px;
    height:44px;
    line-height:44px;
    text-align:center;
    font-size:14px;
    color:#737989;
    font-weight:bold;
    position:relative;
    a{
      position:absolute;
      width:90px;
      height:44px;
      left:0;
      top:4px;
      color:#737989;
      text-align:right;
      padding-right:35px;
    }
    a.active{
       background:url(../img/tab_bg.png) no-repeat right top;
      color:#f25e61;
    }
    i{
      display:none;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 14px;
      font-size: 16px;
      top: 3px;
      color: #a29f9f;
      cursor: pointer;
    }
    a.addModuleBtn,a.addModuleBtn:hover{
      height:44px;
      display:inline-block;
      background:url(../img/icon_add_module.png) no-repeat 10px center;
      padding-left:10px;
      font-weight:normal;
      color:#737989;
    }
  }
  li:hover{
    i{
      display:inline-block;
    }
  }
}
.moduleData{
  height:34px;
  line-height:34px;
  color:#373737;
  font-size:14px;
  font-weight:bold;
  border:1px solid #e1e1e1;
  border-radius:4px;
  background:url(../img/icon_data.png) no-repeat 22px center;
  padding:0 22px 0 43px;
  position:absolute;
  right:25px;
  top:18px;
}
.btnbox {
  width:640px;
  margin:24px auto;
  a {
    height: 50px;
    width: 300px;
    display:inline-block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    background: #f25e61;
    font-size: 24px;
    margin:0 9px;
  }
  #cancelPublish{
    margin:0 auto;
    display:block;
  }
}
.widgetPopup{
  padding: 29px 15px 15px 15px;
  .tab{
    padding:0 10px 13px 10px;
    height:24px;
    line-height:24px;
    font-size:18px;
    border-bottom:1px solid #dcdcdc;
    h1{
      color:#282828;
      font-size:18px;
      font-weight:normal;
      display:inline-block;
      margin-right:25px;
    }
    a{
      display:inline-block;
      margin:0 13px;
      font-size:14px;
      color:#7d8088;
      border-bottom:1px dotted #373737;
      text-align:center;
      padding:0 6px;
    }
    a:hover{
      color:#373737;
    }
    a.active{
      border-radius: 12px;
      background: #f25e61;
      border: none;
      color: #fff;
      font-weight: bold;
      margin: 0 3px;
    }
  }
}
/*widget*/
.widget {
  position: relative;
  height: 285px;
  margin-top:20px;
  float:left;
  margin-right:7px;
  cursor:pointer;
  .inner {
    width: 285px;
    display: block;
    border: 10px solid #f4f4f4;
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
    h3 {
      color: #505155;
      font-size: 14px;
      text-align: center;
      padding:15px 0;
    }
    .description {
      display: none;
      text-align: left;
      color: #FFF;
      font-size: 13px;
      line-height: 1.4;
      color: #9d9d9d;
      position: absolute;
      left: -10px;
      top: 273px;
      width: 285px;
      border: 10px solid #f4f4f4;
      border-radius: 6px;
      h4 {
        color: #505155;
        font-weight: normal;
        margin: 0 0 5px 0;
      }
      p{line-height:18px;}
    }
  }
  .inner:hover {
    border: 10px solid #eaeaea;
    background: #eaeaea;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .description {
      display: block;
      transform-origin: 100% 0%;
      -webkit-animation: fadeIn 0.3s ease-in-out;
      animation: fadeIn 0.3s ease-in-out;
      border: 10px solid #eaeaea;
      background: #eaeaea;

    }
  }
}
/*end widget*/
.componentListWrapper {
  border-top: 1px solid #e1e1e1;
  .publishTip{
    height:42px;
    line-height:42px;
    background:#fff9f9 url(../img/icon_tip.png) no-repeat 17px center;
    color:#f25e61;
    padding:0 0 0 40px;
    margin:24px 24px 0 24px;
    border-radius:4px;
    a{
      font-weight:bold;
      text-decoration:underline;
      color:#f25e61;
      margin-left:5px;
    }
  }
  .componentList {
    padding: 24px;
    .component {
      margin-bottom: 24px;
      position: relative;
      .header {
        padding: 24px 18px 0 18px;
        background: #fff;
        position: relative;
        h1 {
          float: left;
          font-size: 22px;
          color: #282828;
          font-weight: normal;
        }
        .configBtn {
          height: 30px;
          width: 30px;
          float: right;
          background: #f4f4f4;
          border-radius: 4px;
          text-align: center;
          line-height: 30px;
          color: #9f9fa1;
        }
        .dateBox {
          height: 30px;
          line-height: 30px;
          position: absolute;
          bottom: 0;
          right: 64px;
          border-radius: 4px;
          background: url(../img/calendar.png) no-repeat 13px center;
          padding: 0 0 0 36px;
          margin-right: 0;
          cursor: pointer;
          border: 1px solid #fff;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: none;
          z-index: 2;
          span {
            float: left;
          }
          .arrow {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            background: url(../img/icon_arrow.png) no-repeat center center;
          }
        }
        .dateBox.active {
          border: 1px solid #b9bcc4;
          background-color: #fff9f9;
          border-bottom: none;
        }
      }
    }
    .first {
      background: #fff;
      padding: 48px 0 40px;
      .inner {
        width: 516px;
        height: 209px;
        margin: 0 auto;
        p {
          color: #333;
          margin-bottom: 28px;
        }
        .sliderBox {
          margin: 28px 0 60px 0;
        }
        .nextStep {
          width: 382px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          background: #f25e61;
          color: #fff;
          font-size: 24px;
          display: block;
          margin: 0 auto;
          border-radius: 4px;
        }
      }
    }
    .second {
      position: relative;
      padding: 29px 18px;
      background: #fff;
      .phoneList {
        border-left: 1px solid #efeeec;
        border-top: 1px solid #efeeec;
        .left {
          float: left;
          width: 50%;
          position: relative;
          .label {
            position: absolute;
            left: 29px;
            top: 18px;
            color: #999;
          }
          li {
            border-right: 1px solid #efeeec;
            border-bottom: 1px solid #efeeec;
            a {
              display: block;
              padding: 18px 0 18px 83px;
              span {
                float: left;
              }
              .circle {
                width: 6px;
                height: 6px;
                border: 1px solid #ccc;
                border-radius: 6px;
                margin: 2px 13px;
              }
              .releaseDate {
                color: #b0b0b0;
              }
              img {
                float: left;
                margin: 0 20px;
              }
              .brandName {
                margin: 20px 32px 0 0;
                font-size: 16px;
                color: #282828;

              }
              .selected {
                float: right;
                width: 17px;
                height: 17px;
                margin: 20px 32px 0 0;
                background: url(../img/icon_selected.png) no-repeat left top;
              }
            }
            a:hover {
              background: #fff9f9;
            }
          }
        }
      }
      .noData{
        content:"无数据";
        text-align:center;
        height: 400px;
        line-height: 400px;
      }
      .legend{
        min-height:35px;
        .hrLine { 
        border: none;
        border-top: 1px solid #e5e5e5;
        margin-top: -1px;
        }
        a{
          display:inline-block;
          height:33px;
          line-height:33px;
          width:173px;
          border:1px solid #e5e5e5;
          text-align:center;
          color:#3f4044;
          padding-top:0;
          background:#fff;
          position:relative;
          margin: -2px 0 0 -1px;
          i.delLegendIcon{
            color:#9f9fa1;
            display:none;
            right: 5px;
            position: absolute;
            font-size: 4px;
            font-weight: normal;
            top: 0;
          }
        }
        a.active{
          background:#fff9f9;
          border-color:#b9bcc4;
          i.delLegendIcon{
            color:#f25e61;
          }
        }
        .addBtn,.delBtn{
          width:44px;
          height:33px;
          line-height:33px;
          text-align:center;
          color:#9f9fa1;
          background:#f4f4f4;
          .iconfont{
            display:block;
          }
        }
        .addShowBtnContainer{
          display:inline-block;
        }
      }
      .chart{
        height:400px;
        margin:30px 90px;
        svg{
          position: absolute;
          left: 50px;
          top: 200px;
          text{
            cursor: pointer;
          }
        }
        .tipsContainer{
          width: 170px;
          position: absolute;
          left: 850px;
          top: 200px;
          padding: 10px;
          background-color: rgba(0,0,0,0.7);
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          li{
            height: 20px;
            font-size: 14px;
            color: #fff;

          }
        }
      }
      .lineChart{
        height:400px;
        margin:30px 90px;
      }
      .chartLabel{
        position:absolute;
        left:135px;
        top:155px;
        width:40px;
        height:400px;
        .middle{
          margin-top:140px;
        }
        .bottom{
          margin-top:135px;
        }
      }
    }

    .dateHoverBox {
      width: 414px;
      height: 110px;
      padding: 24px;
      background: #fff9f9;
      border: 1px solid #b9bcc4;
      position: absolute;
      right: 64px;
      top: 53px;
      display: none;
      z-index: 1;
      border-radius: 4px;
      border-top-right-radius: 0;
      p {
        color: #333;
      }
      .sliderBox {
        margin: 8px 0 19px 0;
        font-size: 12px;
        font-style: normal;
      }
      .sliderTip{
        height:20px;
        line-height:20px;
      }
      .confirmBtn{
        width:60px;
        height:30px;
        line-height:30px;
        text-align:center;
        background:#f25e61;
        color:#fff;
        display:block;
        border-radius:4px;
        float:right;
        margin:16px 0;
      }
    }
    .firstMultiAttr{
      background: #fff;
      padding: 0 0 40px 0;
      a.btnCompare {
          color: #fff;
          width: 380px;
          height: 50px;
          background: #f25e61;
          border-radius: 4px;
          margin: 0 auto;
          font-size: 24px;
          display: block;
          text-align: center;
          line-height: 50px;
      }
      .dateContainer{
        padding:27px 24px;
        label{
          float:left;
          margin-right:10px;
        }
        .sliderBox{
          float:left;
          width:500px;
        }
      }
      .styleContainer{
        padding:27px 24px;
        label{
          display:block;
          margin-bottom:15px;
        }
        li{
          float:left;
          margin-right:20px;
          img{
            border:1px solid #efeeec;
          }
          p{
            height:30px;
            line-height:30px;
            text-align:center;
            color:#898989;
          }
        }
        li:hover{
          margin-right:18px;
          img{
            border:1px solid #b1b3ba;
          }
        }
      }
      .nextStep {
        width: 382px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #f25e61;
        color: #fff;
        font-size: 24px;
        display: block;
        margin: 0 auto;
        border-radius: 4px;
      }
    }
    .proContainer,.infoContainer,.infoSource{
      padding:27px 24px;
      .sBox {
        margin-bottom:14px;
        label {
          line-height: 36px;
          display: inline-block;
          margin-right:10px;
          font-size:14px;
        }
        .ui-select {
          margin-right: 10px;
        }
        .addBtn {
          width: 78px;
          line-height: 34px;
          text-align:center;
          border: 1px solid #ccc;
          border-radius: 4px;
          color: #757b8b;
          background:#f4f4f4;
          display:inline-block;
        }
      }
      .rBox{
        .proWrapper {
          width: 33%;
          display:inline-block;
          .pro {
            cursor: pointer;
            border: 1px solid #efeeec;
            padding: 15px;
            margin:-2px 0 0 -1px;
            .phoneThumb {
              width: 50px;
              height: 50px;
              float: left;
              margin-right: 15px;
            }
            .info {
              font-size: 14px;
              float: left;
              p {
                line-height: 27px;
                color: #282828;
                font-size: 16px;
              }
              .pubDate {
                font-size: 12px;
                color: #b0b0b0;
              }
            }
            i {
              color: #f25e61;
              cursor: pointer;
              float: right;
              margin-top: 19px;
            }
          }
          .pro:hover {
            background: #fff9f9;
          }
        }
      }
    }
    .infoContainer,.infoSource{
      .rBox{
        .proWrapper {
          width: 16.6%;
          display: inline-block;
          .pro {
            .info {
              p {
                line-height: 16px;
              }
            }
            i {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  .related{
    background:#fff;
    padding:13px;
    border-top: 1px solid #efeeec;
    h1{
      display:inline-block;
      font-size:18px;
      color:#282828;
      line-height:39px;
      font-weight:normal;
      margin-right:15px;
    }
    a{
      display:inline-block;
      line-height:37px;
      width:204px;
      text-align:center;
      border:1px solid #d5d9dc;
      border-radius:4px;
      margin: 0 10px 10px 0;
      font-size:14px;
      color:#3f4044;
      background: #f4f4f4;
    }
  }
}
/* 新品声量对比 begin */
.WraNewPro {
  display:none;
  padding: 25px;
  .newProContra {
    background:#fff;
    width: 100%;
    /* 页面大标题 */
    .newProTitle {
      font-weight: normal;
      height:80px;
      line-height: 80px;
      font-size: 22px;
      color: #282828;
      margin-left: 25px;
    }
    .proContraIn {
      margin-left: 25px;
      background: #fff;
      .chooTarProWra {
        margin-bottom: 65px;
      }
      .chooTarProWra {
        margin-bottom: 65px;
      }
      .monitorScope {
        margin-bottom: 65px;
      }
    }
    /* 选择目标商品 */
    .chooTitle {
      font-size: 14px;
      color: #333;
      display: inline-block; *display: inline; zoom:1; vertical-align: top;
      line-height: 35px;
    }
    .chooTarPro {
      margin-bottom: 14px;
    }
    .chooBrand {
      width: 198px;
      height: 36px;
      color: #ccc;
      font-size: 14px;
      margin-right: 10px;
      display: inline-block; *display: inline; zoom:1; vertical-align: top;
      select {
        width: 198px;
        height: 36px;
        border-radius: 3px;
        border: 1px solid #dddddd;
      }
    }
    .btnAdd {
      width: 78px;
      height: 36px;
      border: 1px solid #d5d9dc;
      background: #f4f4f4;
      border-radius: 3px;
      display: inline-block; *display: inline; zoom:1; vertical-align: top;
      color: #757b8b;
      font-size: 14px;
      line-height: 35px;
      text-align: center;
    }
    .phoneList {
      width: 100%;
      min-width: px;
      display: none;
      margin-bottom: 80px;
      border-left: 1px solid #efeeec;
      ul {
        font-size: 0;
        overflow: hidden;
        .tarProWidth {
          width: @widthThree;
          height: 78px;
          display: inline-block; *display: inline; zoom:1; vertical-align: top;
          border: 1px solid #efeeec;
          border-left: none;
          height: 78px;
          a {
            background: #fff;
            position: relative;
            width: 100%;
            display: block;
            height: 78px;
            .iconfont {
              font-family: 'iconfont';
              position: absolute;
              top: 32px;
              right: 15px;
              font-size: 12px;
              color: #f25e61;
              display: none;
            }
            .phoneImg {
              width: 50px;
              height: 50px;
              margin: 15px 10px 0 15px;
              display: inline-block; *display: inline; zoom:1; vertical-align: top;
              img {
                width: 50px;
                height: 50px;
              }
            }
            .pInfo {
              margin-top: 15px;
              display: inline-block; *display: inline; zoom:1; vertical-align: top;
              h4 {
                font-size: 16px;
                color: #282828;
              }
              p {
                font-size: 12px;
                color: #b0b0b0;
              }
            }
          }
          a:hover {
            background: #fff9f9;
            border: 1px solid #b1b3ba;
            margin: -1px 0 0 -1px;
            .iconfont {
              display: block;
            }
          }
          .noData {
            font-size:15px; 
            text-align:center;
          }
        }
      }

    }
    .sourceList {
      width: 100%;
      display: none;
      ul {
        font-size: 0;
        border-left: 1px solid #efeeec;
        margin-bottom: 80px;
        li.tarInfoWidth {
          display: inline-block; *display: inline; zoom:1; vertical-align: top;
          width: 16.6%;
          border: 1px solid #efeeec;
          border-left: none;
          border-bottom: none;
          height: 48px;
          a {
            display: block;
            width: 100%;
            height: 48px;
            position: relative;
            .iconfont {
              font-family: 'iconfont';
              position: absolute;
              top: 17px;
              left: 15px;
              font-size: 12px;
              color: #f25e61;
              display: none;
            }
            .phoneImg {
              width: 32px;
              height: 32px;
              margin: 8px 10px 0 15px;
              display: inline-block; *display: inline; zoom:1; vertical-align: top;
              img {
                width: 32px;
                height: 32px;
              }
            }
            .pInfo {
              display: inline-block; *display: inline; zoom:1; vertical-align: top;
              p {
                font-size: 16px;
                color: #282828;
              }
            }
          }
          a:hover {
            background: #fff9f9;
            border: 1px solid #b1b3ba;
            margin: -1px 0 0 -1px;
            .iconfont {
              display: block;
              position: absolute;
              top: 17px;
              right: 15px;
              font-size: 12px;
              color: #f25e61;
            }
          }
        }
      }
    }
    .monitorScope {
      span {
        display: inline-block; *display: inline; zoom:1; vertical-align: top;
        font-size: 14px;
        color: #333;
      }
      .timeLine {
        display: inline-block; *display: inline; zoom:1; vertical-align: top;
      }
    }
    .chooTableStyle {
      h4 {
        line-height: 45px;
        font-weight: normal;
      }
      li {
        display: inline-block; *display: inline; zoom:1; vertical-align: top;
        margin-right: 20px;
        a {
          border: 1px solid #fff;
          img {
            border: 1px solid #fff;
            width: 174px;
            height: 174px;
          }
        }
        span {
          border: 1px solid #efeeec;
          width: 176px;
          height: 176px;
          text-align: center;
          display: block;
          cursor: pointer;
          img {
            border: 1px solid #fff;
            width: 174px;
            height: 174px;
          }
        }
        em {
          width: 178px;
          height: 30px;
          line-height: 30px;
          color: #898989;
          font-size: 12px;
          text-align: center;
          display: block;
        }
        span:hover {
          border: 1px solid #b1b3ba;
          img {
            border: 1px solid #b1b3ba;
          }
        }
      }
      li.on span {
        border: 1px solid #b1b3ba;
      }
      li.on span img {
        border: 1px solid #b1b3ba;
      }
      li:hover {
        a {
          img {
            border: 1px solid #b1b3ba;
          }
        }
      }
    }
    /* 折线图 */
    #echartLine {
      min-width: 1045px;
      min-height: 380px;

    }
    .monitorScope {
      height: 55px;
    }

    .containerChart {
    }
    .containerChart #containerChart {
      width: 1130px;
      height: 390px;
    }
    .containerChart .btnAddNew {
      width: 100%;
      text-align: center;
      position: relative;
    }
  }
  
}
.containerChart .btnAddNew a {
  color: #fff;
  width: 380px;
  left: 50%;
  position: absolute;
  margin-left: -190px;
  height: 50px;
  background: #f25e61;
  border-radius: 4px;
  font-size: 24px;
  display: block;
  text-align: center;
  line-height: 50px;
}
#addModulePopup {
  background: #fff9f9;
  border: 1px solid #b9bcc4;
  width: 420px;
  top: 73px;
  left: 24px;
  z-index:2;
  .box {
    background: #fff9f9;
    padding: 18px 24px;
    margin: 0;
    .fm-row {
      width: 380px;
      margin: 0;
      label {
        display: inline-block;
      }
      .fm-ipt {
        display: inline-block;
        margin: 0;
        input[type="text"] {
          width: 200px;
          margin: 0;
        }
      }
      input[type=button] {
        width: 82px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #f25e61;
        color: #fff;
        border-radius: 4px;
        margin-left: 10px;
        border: none;
        curspr: pointer;
      }
    }
  }
}
.phoneUpdatePopup{
  position:absolute;
  top:0;
  left:200px;
  width:642px;
  overflow:hidden;
  border:1px solid #b9bcc4;
  background:#fff9f9;
  .rBox{
    display:none;
  }
}
.addShowBtnContainer{
  display: inline-block;
  position: relative;
  .selectProduct_updata{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0px;
    width: 640px;
    padding: 18px 0;
    background-color: #fbfbfb;
    border: 1px solid #e5e5e5;
    li{
      height: 36px;
      border: none;
      width: auto;
      margin-right: 10px;
      line-height: 39px;
      display:inline-block;
      button{
        height: 36px;
        width: 80px;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        outline: none;
        color:#9f9fa1;
      }
    }
    li:first-child{
      margin-left: 26px;
      font-size: 14px;
      select{
        height: 36px;
        width: 199px;
      }
    }
  }
}
.cptConfigBox{
  h3{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .syncBox{
    padding:0 10px 10px 10px;
    li{
      float:left;
      margin:0 5px;
      p{
        padding:10px 0;
        label{
          margin-right:10px;
        }
      }
    }
  }
  .btnbox{
    width:auto;
    border-top:1px solid #000;
    padding: 10px 0 0 0;
    margin: 0;
    line-height:24px;
    button{
      line-height:24px;
      padding:0 8px;
      float:right;
      margin-left:5px;
    }
  }
}
.attrGroup{
  border:1px solid #fff;
  border-collapse:collapse;
  width:100%!important;
  td,th{
    border:1px solid #f4f4f4;
    border-collapse: collapse;
    padding:12px 12px 2px 12px;
    vertical-align: top;
    text-align:center;
    a{
      display:inline-block;
      background:#fff;
      width:258px;
      height:36px;
      line-height:36px;
      text-align:center;
      margin-bottom:10px;
      border-radius:4px;
      border:1px solid #e5e5e5;
      color:#3f4044;
      position:relative;
      outline:0;
      i{
        position:absolute;
        top:0;
        right:10px;
        display:none;
      }
    }
    a:hover{
      background:#fff9f9;
      border-color:#b9bcc4;
      font-weight:bold;
      i{
        font-weight:normal;
        color:#f25e61;
        display:block;
      }
    }
  }
  th{
    font-weight:normal;
    vertical-align: middle;
    padding:12px;
  }

}