*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  button{
    cursor: pointer;
  }
  @font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1474187032_5674539.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1474187032_5674539.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1474187032_5674539.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1474187032_5674539.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1474187032_5674539.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
}
body{
  background-color: #f4f4f4;
}
.editContainer{
  //margin: 24px 26px;
  //padding: 0 24px 40px 24px;
  .titleContainer{
    background-color: #fff;
    padding: 0 17px;
    .componentName{
      display: inline-block;
      height: 74px;
      font-size: 22px;
      line-height: 74px;
    }
    .rightContainer{
      float: right;
      position: relative;
      top: 20px;
      .dateBox{
        position: relative;
        z-index: 2;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        background: url(../img/calendar.png) no-repeat 13px center;
        padding: 0 0 0 36px;
        margin-right: 0;
        cursor: pointer;
        border: 1px solid #fff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        .arrow{
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          display: inline-block;
          background: url(../img/icon_arrow.png) no-repeat center center;
        }
        span{
          float: left;
        }
      }
      .active{
        border: 1px solid #b9bcc4;
        background-color: #fff9f9;
        border-bottom: none;
      }
      .dateHoverBox{
        right: 14px;
        top: 30px;
      }
      a{
        font-family: 'iconfont';
        font-size: 14px;
        color: #636874;
        cursor: pointer;position: relative;
        top: -10px;
      }
      a:hover{
        color: #9f9fa1;
      }
    }

  }
  .optionContainer{
    padding: 0 25px 37px;
    background-color: #fff;
    ul{
      li{
        width: 200px;
        display: inline-block;
        margin-right: 14px;
        margin-top: 20px;
        font-size: 14px;
        .select{
          height: 38px;
          width: 200px;
          background-color: #fff;
          border: 1px solid #d5d9dc;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          outline: none;
        }
        .addBtn{
          height: 38px;
          width: 80px;
          background-color: #f4f4f4;
          border: 1px solid #d5d9dc;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          outline: none;
          font-family: 'iconfont';
          font-size: 12px;
          color: #9f9fa1;
        }
        button:hover{
          color: #757b8b;
        }
      }
      li:first-child{
        width: auto;
      }
      li:last-child{
        width: auto;
      }
    }
    .productList{
      display: inline-block;
      margin-top: 15px;
      li{
        height: 78px;
        width: 392px !important;
        span{
          height: 78px;
          line-height: 78px;
        }
        img{
          width: 50px;
        }
      }
    }
    .resourceList{
      display: inline-block;
      margin-top: 15px;
      li{
        width: 194px !important;
        height: 48px;
        span{
          height: 48px;
          line-height: 48px;
        }
        img{
          width: 26px;
        }
      }
    }
    .selectedList{
      margin-top: 15px;
      margin-bottom: 60px;
      border-left: 1px solid #d5d9dc;
      border-top: 1px solid #d5d9dc;
      li:hover{
        background-color: #fff9f9;
        border-color: #b1b3ba;
        margin-left: -1px;
        margin-top: -1px;
        border-left: 1px solid #b1b3ba;
        border-top: 1px solid #b1b3ba;
        .deleteBtn{
          display: block;
        }
      }
      li{
        display: inline-block;
        float: left;
        margin: 0;
        border-right: 1px solid #d5d9dc;
        border-bottom: 1px solid #d5d9dc;
        border-left: none;
        line-height: 78px;
        img{
          margin: 0 15px 0 10px;
          vertical-align: middle;
        }
        span{
          display: inline-block;
          float: left;
          width: auto;
          border: none;
          p:first-child{
            height: 30px;
            margin-top: 15px;
            line-height: 30px;
            font-size: 16px;
          }
          p:nth-child(2){
            font-size: 12px;
            color: #b0b0b0;
            line-height: normal;
          }
          #resourceName{
            height: 48px;
            line-height: 48px;
            margin: 0px;
          }
        }
        .deleteBtn{
          display: none;
          float: right;
          margin-right: 15px;
          font-family: 'iconfont';
          font-size: 14px;
          color: #636874;
          cursor: pointer;
        }
        .deleteBtn:hover{
          color: #f25e61;
        }
      }
    }
    .styleListContainer{
      margin-top: 80px;
      p{
        font-size: 14px;
      }
      .styleList{
        li{
          display: inline-block;
          width: 178px;
          height: 178px;
          margin-top: 15px;
          border: 1px solid #efeeec;
          text-align: center;
          cursor: pointer;
          img{
            width: 178px;
            height: 178px;
          }
        }
        li:first-child{
          margin-left: 0;
        }
        li:hover{
          border: 1px solid #b1b3ba;
        }
        .selectStyle{
          border: 1px solid #b1b3ba;
        }
      }
    }
    .sliderBox{
      margin-top: 15px;
      span{
        display: inline-block;
        margin-right: 14px;
        font-size: 14px;
      }
      #addTime{
        display: inline-block;
        width: 500px;
      }
    }
  }
  .tabContainer{
    padding: 0 23px;
    background-color: #fff;
    ul{
      float: left;
      display: inline-block;
      position: relative;
      z-index: 1;
      li{
        display: inline-block;
        height: 28px;
        width: 172px;
        border: 1px solid #e5e5e5;
        border-right: none;
        text-align: center;
        line-height: 28px;
        position: relative;
        cursor: pointer;
        span{
          font-size: 12px;
        }
        .deleteBtn{
          float: right;
          margin-right: 15px;
          font-family: 'iconfont';
          font-size: 14px;
          color: #636874;
          cursor: pointer;
          position: absolute;
          right: 0;
          font-size: 10px;
        }
        .deleteBtn:hover{
          color: #f25e61;
        }
      }
      li:last-child{
        border-right: 1px solid #e5e5e5;
      }
      .tabSelected{
        height: 35px;
        background-color: #eaf6f4;
        border: 1px solid #e5e5e5 !important;
        margin-right: -1px;
        top: -7px;
        .phoneName{
          position: relative;
          top: 3px;
        }
        .deleteBtn{
          top: 4px;
        }
      }
    }
    .addShowBtnContainer{
      display: inline-block;
      position: relative;
      .selectProduct_updata{
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 0px;
        width: 640px;
        padding: 18px 0;
        background-color: #fbfbfb;
        border: 1px solid #e5e5e5;
        li{
          height: 36px;
          border: none;
          width: auto;
          margin-right: 10px;
          line-height: 39px;
          button{
            height: 36px;
            width: 80px;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            outline: none;
          }
        }
        li:first-child{
          margin-left: 26px;
          font-size: 14px;
          select{
            height: 36px;
            width: 199px;
          }
        }
      }
    }
    button{
      height: 30px;
      width: 44px;
      border: 1px solid #e5e5e5;
      border-left: none;
      outline: none;
      background-color: #f4f4f4;
      font-family: "iconfont";
      font-size: 12px;
      color: #9f9fa1;
    }
    button:hover{
      color: #757b8b;
    }
    .timeSelect{
      float: right;
      width: 175px;
      height: 28px;
      border:1px solid #e5e5e5;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      button{
        width: 87px;
        height: 100%;
        border:none;
        outline: none;
        background: #f4f4f4;
      }
      button:first-child{
        width: 88px;
        border-right: 1px solid #e5e5e5;
      }
      .btnSelected{
        background: none;
        box-shadow: 0 0 10px #f4f4f4 inset;
      }
    }
  }
  .echartsContainer{
    background-color: #fff !important;
    position: relative;
    svg{
     position: absolute;
      left: 100px;
      top: 25px;
      text{
        cursor: pointer;
      }
    }
    .tipsContainer{
      width: 170px;
      position: absolute;
      right: 100px;
      top: 100px;
      padding: 10px;
      background-color: rgba(0,0,0,0.7);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      li{
        height: 20px;
        font-size: 14px;
        color: #fff;

      }
    }
  }
  .relateCompanentContainer{
    padding: 15px 0 0;
    height: 54px;
    margin-top: 25px;
    background-color: #fff;
    span{
      display: inline-block;
      margin: 0 17px;
      font-size: 18px;
      color: #3f4044;
    }
    .relateCompanentList{
      display: inline-block;
      li{
        display: inline-block;
        width: 206px;
        height: 38px;
        margin-right: 10px;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        color: #3f4044;
        line-height: 38px;
        cursor: pointer;
      }
      li:last-child{
        margin-right: 0;
      }
    }
  }
}
.generateBtn{
  height: 104px;
  width: 100%;
  float: left;
  text-align: center;
  line-height: 104px;
  button{
    height: 50px;
    width: 380px;
    background-color: #f25e61;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-size: 24px;
    color: #fff;
  }
}