body{
  background-color: #f4f4f4;
  .personal_head{
    height: 68px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 68px;
    padding-right: 25px;
    span{
      padding-right: 15px;
      padding-left: 15px;
      font-size: 24px;
      color: #7d8088;
    }
    .userName{
      color: #f25e61;
      border-right: 1px solid #e1e1e1;
    }
  }
  .personal_center{
    padding: 35px 0 0 25px;
    ul{
      float: left;
      margin-right: 145px;
      li{
        height: 40px;
        width: 248px;
        padding-left: 20px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        line-height: 40px;
        color: #bbbbbb;
      }
      li:first-child{
        border-bottom: none;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
      }
      li:last-child{
        -webkit-border-radius:0px 0px 4px 4px;
        -moz-border-radius:0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
      }
      .optionSelected{
        color : #333333;
      }
    }
    .personal_center_right{
      float: left;
      .photo{
        float: left;
        width: 98px;
        height: 98px;
        margin-right: 38px;
        -webkit-border-radius: 98px;
        -moz-border-radius: 98px;
        border-radius: 98px;
        overflow: hidden;
        img{
          height: 98px;
        }
      }
      table{
        width: 340px;
        tr{
          border-bottom: 1px solid #e1e1e1;
          td{
            height: 44px;
            vertical-align: middle;
          }
          td:first-child{
            width: 90px;
            padding-left: 20px;
          }
          td:last-child{
            width: auto;
          }
        }
      }
    }

  }
}
