<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>构建详情</title> <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="../css/componentDetail.css">
</head>
<body>
    <div>
        <span>构件库</span>
        <span></span>
    </div>


<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/componentDetail.js"></script>
</body>
</html>