<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>构建详情</title> <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="../css/componentDetail.css">
</head>
<body>
    <div class="head">
        <span>构件库</span>
        <span class="componentName"></span>
    </div>
    <div class="center">
        <p class="componentName"></p>
        <div class="componentDetail clearfix">
            <div class="componentImg">
                <img id="componentImg" src="">
                <p>展示效果</p>
            </div>
            <div class="componentDescription">
                <div>
                    <p>构建描述</p>
                    <span id="description"></span>
                </div>
                <div>
                    <p>运作所需信息</p>
                    <span id="inDesc"></span>
                </div>
                <div>
                    <p>输出物</p>
                    <span id="outDesc"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn">
        <button>使用</button>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/ui.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script type="text/javascript" src="../js/componentDetail.js"></script>
</body>
</html>