
<div class="login">
    <div class="head">
        <img src="../img/logo1.png" title="亿商-登录">
    </div>
    <div class="center">
        <div><img src="../img/插画.png"></div>
        <form class="loginForm" novalidate name="loginForm" method="post" id="fm1" onsubmit="return sso.loginValidate();" action="" target="ssoLoginFrame">
            <input type="hidden" name="execution" value="" id="fk" />
            <input type="hidden" name="lt" value="" id="lt">
            <input type="hidden" name="_eventId" value="submit" />
            <input type="hidden" name="isajax" value="true" />
            <input type="hidden" name="isframe" value="true" />
            <input type="hidden" name="callback" value="sso.feedBackUrlCallBack" />
            <input type="hidden" name="sysCode" value="oss-wlgf" />
            <ul>
                <li>
                    <input ng-click="userClick()" name="loginKey" id="loginKey" type="text" placeholder="账号">
                </li>
                <li>
                    <input ng-click="passwordClick()" ng-class="{errorInputBorder:passwordWrong}" name="passwordTemp" id="passwordTemp" type="password" placeholder="密码">
                    <input type="hidden" name="password" id="password">
                    <a ui-sref="losePassword">忘记密码?</a>
                </li>
                <li>
                    <input ng-click="codeClick()" ng-class="{errorInputBorder:codeWrong}" name="validateCode" id="validateCode" type="text" placeholder="验证码">
                    <img ng-src="" id="capt">
                </li>
                <li>
                    <button ng-hide="!loginForm.$valid||err||waiting">{{loginForm.$valid}}登录</button>
                    <div class="btnState" ng-class="{btnEmptyState:!loginForm.$valid,btnWaitState:waiting,btnErrState:err}" ng-show="!loginForm.$valid||err||waiting" ng-class="{loginErr:errBtn}" ng-bind="message"></div>
                </li>
            </ul>
        </form>
    </div>
</div>
