
<div class="login">
    <div class="head">
        <img src="../img/logo1.png" title="亿商-登录">
    </div>
    <div class="center">
        <div><img src="../img/插画.png"></div>
        <form class="loginForm" novalidate name="codeForm" ng-hide="phoneRight" style="display: none">
            <ul ng-class="{show:resetPassword&&!getCode}">
                <li>
                    <input ng-model="auth.userName" ng-required="true" name="userName" type="text" placeholder="账号">
                </li>
                <li>
                    <input ng-class="{errorInputBorder:phoneWrong}" ng-model="auth.phone" ng-required="true" name="password" type="text" placeholder="绑定的手机号">
                </li>
                <li>
                    <input ng-click="codeClick()" ng-model="auth.code" ng-class="{errorInputBorder:codeWrong}" ng-required="true" name="auth" type="text" placeholder="验证码">
                </li>
                <li>
                    <button ng-hide="!codeForm.$valid||err||waiting" ng-click="checkPhone()">下一步</button>
                    <div ng-show="!codeForm.$valid||err||waiting" class="btnState" ng-class="{btnEmptyState:!codeForm.$valid,btnWaitState:waiting,btnErrState:err}" ng-bind="message"></div>
                </li>
            </ul>
        </form>
        <form class="loginForm" novalidate name="phoneForm" style="display: none">
            <ul ng-class="{show:getCode&&!reset}">
                <p>验证码已发送至:</p>
                <p ng-bind="auth.phone">18888888888</p>
                <li>
                    <input ng-click="codeClick()" ng-model="auth.code" ng-class="{errorInputBorder:codeWrong}" ng-required="true" name="auth" type="text" placeholder="验证码">
                    <span ng-hide="isZero">{{second}} 秒</span>
                    <span ng-show="isZero" ng-click="sendCode()">再次发送</span>
                </li>
                <li>
                    <button ng-hide="!phoneForm.$valid||err||waiting" ng-click="checkPhoneCode()">下一步</button>
                    <div ng-show="!phoneForm.$valid||err||waiting" class="btnState" ng-class="{btnEmptyState:!phoneForm.$valid,btnWaitState:waiting,btnErrState:err}" ng-bind="message"></div>
                </li>
            </ul>
        </form>
        <form class="loginForm" novalidate name="resetFrom">
            <ul ng-class="{show:reset}">
                <li>
                    <input ng-model="auth.password1" type="password" placeholder="设置新密码">
                </li>
                <li>
                    <input ng-model="auth.password2" type="password" placeholder="再次确认新密码">
                </li>
                <li>
                    <button>重置</button>
                </li>
            </ul>
            <p>说明<br>1、密码长度需要8-16位，且同时包含大小写字母；</p>
        </form>
    </div>
</div>