<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link type="text/css" rel="stylesheet" href="../css/personalCenter.css">
    <link type="text/css" rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="personal_head">
        <span class="userName"></span>
        <span>个人中心</span>
    </div>
    <div class="personal_center">
        <ul class="tab">
            <li class="account">账号信息</li>
            <li class="resetPW">修改密码</li>
        </ul>
        <div class="personal_center_right">
            <div class="photo">
                <img src="../img/logo1.png">
                <span></span>
            </div>
            <table>
                <tr>
                    <td>用户名:</td>
                    <td id="userName"></td>
                </tr>
                <tr>
                    <td>公司/团队:</td>
                    <td id="company"></td>
                </tr>
                <tr>
                    <td>注册时间:</td>
                    <td id="registDate"></td>
                </tr>
                <tr>
                    <td>邮箱:</td>
                    <td id="email"></td>
                </tr>
                <tr>
                    <td>手机:</td>
                    <td id="mobilePhone"></td>
                </tr>
            </table>
        </div>
        <div class="resetPasswordContainer" style="display: none">
            <ul>
                <li><input id="currentPwd" type="password" placeholder="输入当前密码"></li>
                <li><input id="newPwd" type="password" placeholder="设置新密码"></li>
                <li><input id="repeatPwd" type="password" placeholder="再次确认新密码"></li>
                <li><button id="submitBtn">修改</button></li>
                <li><span id="messageTip">修改</span></li>
                <li>说明：<br>1、密码长度需要8-16位，且同时包含大小写字母；</li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/ui.js"></script>
<script type="text/javascript" src="../js/personalCenter.js"></script>
</html>