<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link type="text/css" rel="stylesheet" href="../css/personalCenter.css">
    <link type="text/css" rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="personal_head">
        <span class="userName"></span>
        <span>个人中心</span>
    </div>
    <div class="personal_center">
        <ul>
            <li class="account">账号信息</li>
            <li class="resetPW">修改密码</li>
        </ul>
        <div class="personal_center_right">
            <div class="photo">
                <img src="../img/logo1.png">
                <span></span>
            </div>
            <table>
                <tr>
                    <td>用户名:</td>
                    <td id="userName"></td>
                </tr>
                <tr>
                    <td>公司/团队:</td>
                    <td id="company"></td>
                </tr>
                <tr>
                    <td>注册时间:</td>
                    <td id="registDate"></td>
                </tr>
                <tr>
                    <td>邮箱:</td>
                    <td id="email"></td>
                </tr>
                <tr>
                    <td>手机:</td>
                    <td id="mobilePhone"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/personalCenter.js"></script>
</html>