<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="../font/iconfont.css"/>
    <link type="text/css" rel="stylesheet" href="../css/common.css"/>
    <link type="text/css" rel="stylesheet" href="../css/editComponent_ui.css"/>

</head>
<body style="overflow: inherit;">
    <button id="btn">手机新品声量情感分析</button>
    <div id="div"></div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script type="text/javascript" src="../js/ui.js"></script>
    <script type="text/javascript" src="../js/editComponent_ui.js"></script>
    <script type="text/javascript" src="../js/widget/newAffectionAnalysed.js"></script>
    <script type="text/javascript" src="../js/test.js"></script>
</body>
</html>